@font-face {
  font-family: "Xalorith";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Amazon Ember/Amazon Ember.ttf") format("truetype");
}

@font-face {
  font-family: "Xalorith";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Amazon Ember/Amazon Ember Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Xalorith";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Amazon Ember/Amazon Ember Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Xalorith";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Amazon Ember/Amazon Ember Bold Italic.ttf")
    format("truetype");
}
