:host {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        background-color: var(--color-brand);
        height: var(--height-toolbar);
    }

    .content-container {
        flex: 1;
    }

    .statusbar {
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        background-color: var(--color-background-dark);
        height: var(--height-statusbar);
    }
}
