:host {
    --font-family: 'Roboto', sans-serif;
    --background-color: #f5f5f5;
    --text-color: #333;
    --font-size: 14px;

    // colors
    --color-positive: #4caf50;
    --color-negative: #f44336;
    --color-warning: #ff9800;
    --color-info: #2196f3;

    display: block;
    height: 100%;
    font-family: var(--font-family), sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--font-size);
}
